*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0F3460;
}

/* Header */
.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    padding: 2%;
    flex-wrap: wrap;
    background-color : #1A1A2E;
}
/* picture and background */
.picture{
    border-radius: 50%;
    border-color: rgb(255, 217, 0);
    border-style: dashed;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Name */
#Name{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    color: coral;
    letter-spacing: 3px;
}

/* Details Navigator */
#Navigator{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   height: fit-content;
   padding: 2%;
   background-color : #1f1f3a;/* background-color: #16213E; */
}
.font1{
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: cornsilk;
    padding: 0.5%;
    border-radius: 30px;
    transition: 0.5s;
}
.font1:hover{
    background-image: linear-gradient(to left,red, brown);
    opacity: 70%;
    color: rgb(25, 252, 55);
}

/* About me */
#About{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px groove rgb(32, 76, 151);
    background-color: #16213E;
}
#About i{
    font-size: 15rem;
    color: brown;
    text-align: center;
    padding: 2%;
}
.Me{
    background-color: rgb(20, 94, 26);
    width: 50rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}
.font2{
    padding: 2% 1% 2% 3%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: lavender;
}

/* Skills */
#Skills{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#Skills i{
    font-size: 15rem;
    color: gray;
    text-align: center;
    padding: 2%;
}
.sk{
    background-color: rgb(85, 36, 114);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}
#small{
    display: none;
}

/* Experience */
#Experience{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    background-color: #16213E;
}
#Experience i{
    font-size: 15rem;
    color: rgba(250, 205, 7, 0.877);
    text-align: center;
    padding: 2%;
}
.exp{
    background-color: rgb(133, 10, 20);
    width: 40rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}

/* Let's get connected */
#footer1{
    /* background-color: #E94560; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgba(15, 196, 60, 0.993);
    letter-spacing: 2px;
    height: fit-content;
    padding: 2%;
}

/* Icons */
#footer2{
    /* background-color: #E94560; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1%;
}
#footer2 i{
    font-size: 40px; 
    color: whitesmoke;
    transition: 0.5s;
}
#footer2 i:hover{
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 500px) {
#Navigator{
    display: flex;
    flex-direction: column;
}
.pic img{
    width: 200px;
    height: 200px;
}
#Skills i, #About i, #Experience i {
    font-size: 9rem;
    margin-top: 10vh;
}
#Experience .exp{
    margin-bottom: 10vh;
}
#Name{
    font-size: 2rem;
    margin: 1.5vh 0;
}
#footer1{
    font-size: 1.5rem;
}
#footer2 i{
    font-size: 2rem;
}
}
@media only screen and (max-width: 1150px) {
.large{
    display: none;
}
#small{
    display: flex;
    font-size: 2rem;
}
}
