*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0F3460;
}

/* Header */
.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    padding: 2%;
    flex-wrap: wrap;
    background-color : #1A1A2E;
}

/* picture and background */
.picture{
    border-radius: 50%;
    border-color: blue;
    border-style: dashed;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Name */
#Name{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    color: coral;
    letter-spacing: 3px;
}

/* Details Navigator */
#Navigator{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   height: fit-content;
   padding: 2%;
   background-color: #16213E;
}
.font1{
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: cornsilk;
}
.font1:hover{
    background-image: linear-gradient(to left,red, brown);
    opacity: 70%;
    transition: 0.2s;
    border-radius: 10px;
    border-bottom: 3px double cornsilk;
    color: greenyellow;
    padding: 0% 0.2% 0% 0%;
}

/* About me */
#About{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#About i{
    font-size: 15rem;
    color: brown;
    text-align: center;
    padding: 1%;
}
.Me{
    background-color: rgb(47, 173, 58);
    width: 50rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}
.font2{
    padding: 2% 1% 2% 3%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: gainsboro;
}

/* Skills */
#Skills{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#Skills i{
    font-size: 15rem;
    color: gray;
    text-align: center;
    padding: 1%;
}
.sk{
    background-color: rgb(85, 36, 114);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}
.font3{
    padding: 2% 1% 2% 3%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: lavender;
}

/* Experience */
#Experience{
    height: fit-content;
    padding: 2%;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#Experience i{
    font-size: 15rem;
    color: rgba(250, 205, 7, 0.877);
    text-align: center;
    padding: 1%;
}
.exp{
    background-color: rgb(133, 10, 20);
    width: 40rem;
    height: fit-content;
    border-radius: 20px;
    margin-top: 1%;
}
.font4{
    padding: 2% 1% 2% 3%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: lavender;
}

/* Let's get connected */
#footer1{
    background-color: #E94560;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgba(121, 3, 3, 0.993);
    letter-spacing: 2px;
    height: fit-content;
    padding: 2%;
}

/* Icons */
#footer2{
    background-color: #E94560;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1%;
}
#footer2 i{
    font-size: 40px; 
    color: whitesmoke;
}
#footer2 i:hover{
    background-image: linear-gradient(to left,rgb(60, 168, 196), rgb(50, 128, 180));
    transition: 0.2s;
    border-radius: 5px;
    color: black;
    border-bottom: 3px groove rgb(168, 8, 8);
    padding: 1%;
}
