*{
    margin: 0px;
    padding: 0px;
}
body{
    background : rgb(5, 20, 48);
}

/* picture and background */
.picture{
    border-radius: 50%;
    border-color: blue;
    border-style: dashed;
}
.pic{
    align-content: center;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 23, 37);
}

/* Name */
#Name{
    background-color: rgb(10, 23, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    color: coral;
    letter-spacing: 3px;
    height: 11rem;
    border-bottom: 1px groove rgb(32, 76, 151);
}

/* Details Navigator */
#Navigator{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   height: 2rem;
   margin-top: 1.7rem;
}
.font1{
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: cornsilk;
}
.font1:hover{
    background-image: linear-gradient(to left,red, brown);
    opacity: 70%;
    transition: 0.2s;
    border-radius: 10px;
    border-bottom: 3px double cornsilk;
    color: greenyellow;
    padding: 0% 0.2% 0% 0%;
}

/* About me */
#About{
    height: 20rem;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#About i{
    font-size: 15rem;
    color: brown;
    text-align: center;
    margin-top: 2.5%;
}
.Me{
    background-color: rgb(47, 173, 58);
    width: 50%;
    height: 90%;
    border-radius: 20px;
    margin-top: 1%;
}
.font2{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: gainsboro;
}

/* Skills */
#Skills{
    height: 20rem;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#Skills i{
    font-size: 15rem;
    color: gray;
    text-align: center;
    margin-top: 2.5%;
}
.sk{
    background-color: rgb(85, 36, 114);
    width: 50%;
    height: 90%;
    border-radius: 20px;
    margin-top: 1%;
}
.font3{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: lavender;
}

/* Experience */
#Experience{
    height: 20rem;
    border-top: 1px groove rgb(32, 76, 151);
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px groove rgb(32, 76, 151);
}
#Experience i{
    font-size: 15rem;
    color: rgba(250, 205, 7, 0.877);
    text-align: center;
    margin-top: 2.5%;
}
.exp{
    background-color: rgb(133, 10, 20);
    width: 50%;
    height: 90%;
    border-radius: 20px;
    margin-top: 1%;
}
.font4{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    font-size: 19px;
    font-family: 'Uchen', serif;
    font-weight:500;
    color: lavender;
}

/* Let's get connected */
#footer1{
    background-color: rgb(10, 23, 37);
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    color: coral;
    letter-spacing: 2px;
    height: 6rem;
    padding-top: 2%;
    border-bottom: 1px groove rgb(19, 65, 117);
}

/* Icons */
#footer2{
    /* background-color: cadetblue; */
    background-color: rgb(10, 23, 37);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 7rem;
    padding-top: 1%;
    vertical-align: center;
    width: 100%;
}
#footer2 i{
    font-size: 40px; 
    color: whitesmoke;
}
#footer2 i:hover{
    background-image: linear-gradient(to left,rgb(60, 168, 196), rgb(50, 128, 180));
    transition: 0.3s;
    border-radius: 5px;
    color: black;
    border-bottom: 2px groove crimson;
    padding: 2%;
}